<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.presentation">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".view.inquiry.AddInquiryActivity"
            android:exported="false" />
        <activity
            android:name=".view.story.info.StoryModifyActivity"
            android:exported="false" />
        <activity
            android:name=".view.story.info.StoryInfoActivity"
            android:exported="false" />
        <activity
            android:name=".view.story.AddStoryActivity"
            android:exported="false" />
        <activity
            android:name=".view.freeboard.info.PostModifyActivity"
            android:exported="false" />
        <activity
            android:name=".view.freeboard.info.PostInfoActivity"
            android:exported="true" />
        <activity
            android:name=".view.freeboard.AddFreeBoardActivity"
            android:exported="false" />
        <activity
            android:name=".view.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".view.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>